
@font-face {
    font-family: music;
    src: url(../Resources/Fonts/emmentaler-26.woff);
}

body {
  margin: 20px;
  background-color: #F6F4F4;
}

.nav-background {
    background-color: rgba(0, 0, 0, 0.5);
}

.editing-wrapper {
    /*position:absolute;*/
	background-color : #FFFFFF;
	border-radius: 5px;
	height:600px;
}

.editing{
	/*top : 50px;*/
	border : none;
    overflow: auto;
    outline: none;
    resize: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    margin: 10px 0px;

    width: 100%;
    /*display: block;*/
    background-color: transparent;
    padding: 5px;
    font-size: 12px;
    font-family:'TheMixMono';
    letter-spacing: -1px;
    /*font-size: 30px;*/

}

.preview{
    margin-left: 10px;
	background-color : #FFFFFF;
	font-family: "Optima", "Songti TC";
    font-size: 110%;
	width : 600px;
	height : 900px;
	/*border-style:solid;
	border-width: 1px;*/

}

.page{
	margin: 10px;
    position : relative;
    /*width : 100%;*/
	height: 880px;
    align-content:stretch;
    text-align: justify;
}

.logo {
  display: block;
  text-indent: -9999px;
  width: 130px;
  height: 63px;
  background: url(../Resources/Logo/logo@2x.png);
  background-size: 130px 63px;
  color: tint(#FFFFFF, 42%);
}

.title{
    font-weight: bold;
    text-align: center;
    letter-spacing: -2.5px;
    font-size: 40px;
}

.subtitle{
    margin-top : -15px;
    text-align: center;
    letter-spacing: -1.5px;
    font-size: 30px;
}


.lyrics{
    display : inline-block;
    font-size: 80%;
}

.composer {
    position:absolute;
    right : 0px;
    /*right : 10px;*/
    display : inline-block;
    font-size: 80%;
}

.beats {
    top : 5px;
    /*display : inline-block;*/
    letter-spacing: -1px;
    font-weight: bold;
}

.score{
    /*width : inherit;*/
    display: flex;
    font-weight: bold;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /*border: 1px solid #888888;*/

}

.measure {
    display:inline-flex;
    min-width: 20%;
    max-width: 25%;
    flex-direction: row;
    justify-content: space-around;
    margin-top:10px;
    padding: 10px 0px 10px;
    text-align: center;

    position:relative;
    /*border: 1px solid #888888;*/
}

.beat {
    position: relative;
    display:inline-flex;
    flex-direction: row;
    justify-content: space-between;
    /*border: 1px solid #888888;*/
}

.pitch {
    margin : 0 2px;
    /*border: 1px solid #888888;*/
}

.note {
    position: relative;
    /*border: 1px solid #888888;*/
}

.vertbar{
    margin: 15px 0 10px;
    width: 1px;
    background-color: #000000;
    /*border: 1px solid;*/
}

.repeatbar{
    display: inline;
    margin:15px -5px 10px;
    width: 15px;
    background-color: #000000;
    /*box-shadow: 0 0 0 1px red;*/
    /*border-right: dotted 9px orange;*/
}

.initialbar {
    /*display: inline-flex;*/
    /*margin-left: -18px;*/
    /*margin-right: -2px;*/
    /*position : absolute;*/
    /*margin : 0;*/
}

.dot{
    position: absolute;
    width: 5px;
    height:5px;
    border-radius: 50%;
}

.underbar{
    padding: 0 3px;
    position:absolute;
    margin-top : -2px;
    height: 2px;
    /*border: 1px solid #888888;*/
    background-color: #000000;
}

.dot{
    margin : -2px;
}

.accidental{
    position: absolute;
    left : -3px;
    top : -4px;
    font-family: music;
    font-size : 1.2em;
    font-weight: bold;
}

.octavedot{
    position: absolute;
    /*margin : -1px;*/
    /*border: 1px solid #888888;*/
}

.finalbar{
    margin: 15px -3px 10px -15px;
    width: 2px;
    background-color: #000000;
}

svg{
    position:absolute;
    margin-left : 5px;
    width : 100%;
    height : 100%;
}
