@media print
{
.noprint {display:none;}
}

@font-face {
    font-family: music;
    src: url(../Resources/Fonts/emmentaler-26.woff);
}

@font-face {
    font-family: brace;
    src: url(../Resources/Fonts/emmentaler-brace.woff);
}

body {
  /*margin: 20px;*/
  /*display:flex;*/
  color: #222222;
  background-color: #F6F4F4;
}

.nav-background {
    background-color: rgba(0, 0, 0, 0.5);
}


.preview{
    /*margin-left: 20px;*/
	background-color : #FFFFFF;
	font-family: "Optima", "Songti TC";
    font-size: 110%;
	/*height : 1000px;*/
	/*border-style:solid;
	border-width: 1px;*/

}

.page{
	margin: 10px 0px 50px;
    position : relative;
    width : 100%;
	height: 150%;
    text-align: justify;
}

.logo {
  display: block;
  text-indent: -9999px;
  width: 130px;
  height: 63px;
  background: url(../Resources/Logo/logo@2x.png);
  background-size: 130px 63px;
  color: tint(#FFFFFF, 42%);
}

.title{
    font-weight: bold;
    text-align: center;
    /*letter-spacing: -2.5px;*/
    font-size: 40px;
}

.subtitle{
    margin-top : -5px;
    text-align: center;
    letter-spacing: -0.05em;
    font-size: 100%;
}


.lyrics{
    display : inline-block;
    font-size: 80%;
}

.composer {
    position:absolute;
    right : 0px;
    /*right : 10px;*/
    display : inline-block;
    font-size: 80%;
}

.beats {
    top : 5px;
    /*display : inline-block;*/
    letter-spacing: -1px;
    font-weight: bold;
}

.score{
    display: inline-flex;
    margin-left: 10px;
    font-weight: bold;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    /*border: 1px solid #888888;*/

}

.measure-block {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top:10px;
    min-width: 20%;
    max-width: 25%;
    position:relative;
    /*border: 1px solid #888888;*/
}

.sub-measure-block {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    position:relative;
    /*border: 1px solid #888888;*/
}

.measure {
    display:inline-flex;
    flex-direction: row;
    min-width: 20%;
    max-width: 25%;
    justify-content: space-around;
    margin-top:10px;
    text-align: center;

    position:relative;
    /*border: 1px solid #888888;*/
}

.measure-inner {
    display:inline-flex;
    flex-direction: row;
    justify-content: space-around;
    /*margin-top:10px;*/
    text-align: center;
    width : 100%;
    position:relative;
    /*border: 1px solid #888888;*/
}

.slot {
    display:inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 -0px 0;
    /*border: 1px solid #888888;*/
}


.lyricChar {
    position:relative;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 90%;
    left :0;
    white-space: pre;
}

.lyricSlot{
    flex-direction: column;
}

.beat {
    margin-top: 4px;
    position: relative;
    display:inline-flex;
    flex-direction: row;
    justify-content:flex-start;
    /*border: 1px solid #888888;*/
    max-width: 20%;
    min-width: 20%;
}

.pitch {
    margin : 0 3px;
    border: 1px solid #888888;
}

.note {
    position: relative;
    /*border: 1px solid #888888;*/
}

.vertbars{
    display:inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-content:space-around;
    align-items: center;
    margin: 10px 2px 10px;
    width: 6px;
    /*border: 1px solid;*/
}

.vertbar{
    width:1px;
    margin: 3px 0 3px;
    height:1.2em;
    background-color: #222222;
    /*border: 1px solid;*/
}

.bar-block {
    display:flex;
    flex-direction: column;
    /*justify-content: space-around;*/
    margin-top:10px;
    position:relative;
    /*border: 1px solid #888888;*/
}


.finalbars{
    display:inline-flex;
    flex-direction: column;
    margin: 10px 2px 10px;
    width: 6px;
}

.finalbar{
    width: 100%;
    margin: 3px 0 3px;
    height:1.2em;
    background: url(../Resources/Fonts/fin.svg);
    background-size: 6px, 1.2em;
}

.repeatbar{
    display: inline;
    margin:15px 0px 10px;
    width: 15px;
    background-color: #222222;
    /*box-shadow: 0 0 0 1px red;*/
    /*border-right: dotted 9px orange;*/
}

.dot{
    position: absolute;
    width: 5px;
    height:5px;
    border-radius: 50%;
}

.underbar{
    padding: 0 3px;
    position:absolute;
    margin-top : -2px;
    height: 2px;
    /*border: 1px solid #888888;*/
    background-color: #222222;
}

.dot{
    margin : -2px;
}

.accidental{
    position: absolute;
    left : 0px;
    top : -4px;
    font-family: music;
    font-size : 1em;
    font-weight: bold;
}

.bracket{
    /*padding: 20px 0px 10px;*/
    position: absolute;
    font-family: brace;
    font-size : 1.2em;
    font-weight: bold;
}

.octavedot{
    position: absolute;
    /*margin : -1px;*/
    /*border: 1px solid #888888;*/
}


.con{
    /*text-align: center;*/
    margin-top: 20px;
    margin-left: 20px;
    -webkit-print-color-adjust:exact;
}

svg{
    position:absolute;
    margin-left : 5px;
    width : 100%;
    height : 100%;
}
