@media print
{
.noprint {display:none;}
}

@font-face {
    font-family: music;
    src: url(../Resources/Fonts/emmentaler-26.woff);
}

@font-face {
    font-family: brace;
    src: url(../Resources/Fonts/emmentaler-brace.woff);
}

body {
  /*margin: 20px;*/
  /*display:flex;*/
  color: #222222;
  background-color: #F6F4F4;
}

.nav-background {
    background-color: rgba(0, 0, 0, 0.5);
}

.editor-wrapper {
    /*position:absolute;*/
	background-color : #FFFFFF;
	border-radius: 5px;
	height:900px;
}

.editor{
	/*top : 50px;*/
	border : none;
    /*overflow: auto;*/
    outline: none;
    resize: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    margin: 10px 0px;

    width: 100%;
    /*display: block;*/
    background-color: transparent;
    padding: 5px;
    font-size: 12px;
    font-family:'TheMixMono';
    letter-spacing: -1px;
    /*font-size: 30px;*/

}

.preview{
    /*margin-left: 20px;*/
	background-color : #FFFFFF;
	font-family: "Optima", "Songti TC";
    font-size: 110%;
	/*height : 1000px;*/
	/*border-style:solid;
	border-width: 1px;*/

}

.page{
	margin: 10px 10px 50px;
    position : relative;
    width : 100%;
	height: 150%;
    text-align: justify;
}

.logo {
  display: block;
  text-indent: -9999px;
  width: 130px;
  height: 63px;
  background: url(../Resources/Logo/logo@2x.png);
  background-size: 130px 63px;
  color: tint(#FFFFFF, 42%);
}

.title{
    font-weight: bold;
    text-align: center;
    /*letter-spacing: -2.5px;*/
    font-size: 40px;
}

.subtitle{
    margin-top : -5px;
    text-align: center;
    letter-spacing: -0.05em;
    font-size: 100%;
}


.lyrics{
    display : inline-block;
    font-size: 80%;
}

.composer {
    position:absolute;
    right : 0px;
    /*right : 10px;*/
    display : inline-block;
    font-size: 80%;
}

.beats {
    top : 5px;
    /*display : inline-block;*/
    letter-spacing: -1px;
    font-weight: bold;
}

.score{
    display: inline-flex;
    margin-left: 10px;
    font-weight: bold;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    /*border: 1px solid #888888;*/

}

.measure {
    display:inline-flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:10px;
    padding: 10px 0px 10px;
    text-align: center;

    position:relative;
    /*border: 1px solid #888888;*/
}

.slot {
    display:inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.lyricBeat {
    display:inline-flex;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 90%;

    /*letter-spacing: -0.3em;*/
    /*font-size: 50%;*/
}

.lyricChar {
    position:relative;
    left :0;
    white-space: pre;
}

.lyricSlot{
    flex-direction: column;
}

.beat {
    margin-top: 4px;
    position: relative;
    display:inline-flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #888888;
}

.pitch {
    margin : 0 3px;
    /*border: 1px solid #888888;*/
}

.note {
    position: relative;
    /*border: 1px solid #888888;*/
}

.vertbars{
    display:inline-flex;
    flex-direction: column;
    /*margin: 1px 0 10px;*/
    width: 1px;
}

.vertbar{
    width:1px;
    margin: 3px 0 3px;
    height:1.2em;
    background-color: #222222;
    /*border: 1px solid;*/
}

.repeatbar{
    display: inline;
    margin:15px -5px 10px;
    width: 15px;
    background-color: #222222;
    /*box-shadow: 0 0 0 1px red;*/
    /*border-right: dotted 9px orange;*/
}

.dot{
    position: absolute;
    width: 5px;
    height:5px;
    border-radius: 50%;
}

.underbar{
    padding: 0 3px;
    position:absolute;
    margin-top : -2px;
    height: 2px;
    /*border: 1px solid #888888;*/
    background-color: #222222;
}

.dot{
    margin : -2px;
}

.accidental{
    position: absolute;
    left : 0px;
    top : -4px;
    font-family: music;
    font-size : 1em;
    font-weight: bold;
}

.bracket{
    /*padding: 20px 0px 10px;*/
    position: absolute;
    font-family: brace;
    font-size : 1.2em;
    font-weight: bold;
}

.octavedot{
    position: absolute;
    /*margin : -1px;*/
    /*border: 1px solid #888888;*/
}

.finalbars{
    display:inline-flex;
    flex-direction: column;
    margin: 18px 3px 10px 3px;
    width: 2px;
}

.finalbar{
    width: 2px;
    margin: 7px 0 3px;
    height:1.2em;
    background-color: #222222;
}

.con{
    /*text-align: center;*/
    margin-top: 20px;
    margin-left: 20px;
    -webkit-print-color-adjust:exact;
}

svg{
    position:absolute;
    margin-left : 5px;
    width : 100%;
    height : 100%;
}
